// COLORS
$red: #ec755d;
$cyan: #76b5bc;
$dark-brown: #382314;
$medium-brown: #92857a;
$cream-bg: #f8e9dd;
$card-white: #fffbf6;
$white: #ffffff;

// FONT SIZES
$heading-xl: 48px;
$heading-l: 32px;
$body: 18px;
$mini-caption: 15px;
