@use "./variables";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

body {
  background-color: variables.$cream-bg;
  font-family: "DM Sans", sans-serif;
}

.page-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: inherit;
  flex-direction: column;
  gap: 24px;
  max-width: 540px;
  width: 100%;
}
